@import '~@angular/material/prebuilt-themes/indigo-pink';

// TODO: Define color pallet.

body {
  color: #333;
  font-family: 'Lucida Grande', Verdana, Geneva, Helvetica, Arial, sans-serif;
}

table {
  width: 100%;
}

tr:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.tab-icon {
  margin-right: 0.25em;
}

.inactive-row {
  background-color: #eee;
}
